.header {
  height: 40px;
  background: linear-gradient(90deg, #3951E7 0%, #832AB9 100%);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1210px;
    width: 60%;
    height: 100%;
  }

  &__languageSwitcher {
    width: 76px;
  }

  &__language {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 40px;
    padding-left: 8px;
    color: #FFF;

    &__label {
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
    }
  }
}
